body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #004080;
}

p{
    text-align: center;
    font-weight: bolder;
}

form {
    background-color: white;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bolder;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Quando o usuário clicar dentro do campo */
input:focus,
textarea:focus {
    border-color: #004080;
    outline: none;
    background-color: #e8f0fe;
}

/* Botão */
input[type="submit"] {
    background-color: #004080;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Quando o mouse passar sobre o botão */
input[type="submit"]:hover {
    background-color: #0066cc;
}
